<div class="creatingTournamentBlock">
    <h1>Создание турнира</h1>
    <form class="b-form" [formGroup]="inputForm">
        <p>
            <tui-input formControlName="nameTournament"
            >
                Название турнира
            </tui-input>
            <tui-error
                formControlName="nameTournament"
                [error]="[] | tuiFieldError | async"
            ></tui-error>
        </p>
        <p>
            <tui-input formControlName="description"
            >
                Краткое описание
            </tui-input>
        </p>
        <p>
            <tui-input-date-time formControlName="datetime"
            >
                Дата и время начала
            </tui-input-date-time>
        </p>
        <p>
            <tui-input-number formControlName="maxCountParticipants"
                [min]=2
                [step]=2
            >
                Количество участников
            </tui-input-number>
        </p>
        <p>
            <tui-input-number formControlName="prizeFund"
                [min]=0
                [step]=100
            >
                Призовой фонд
            </tui-input-number>
        </p>
        <p>
            <tui-input formControlName="password"
            >
                Пароль
            </tui-input>
        </p>
    </form>
    <!--h3 *ngFor="let playerName of players; index as i">
        Игрок {{i + 1}}: {{playerName}}
    </h3>
    <h3>Игрок {{countPlayers + 1}}: </h3>
    <form [formGroup]="inputForm">
        <tui-input formControlName="namePlayer">
            Имя
            <input tuiTextfield />
        </tui-input>
    </form>
    <p>
      <button
          tuiButton
          type="button"
          class="tui-space_right-3 tui-space_bottom-3"
          (click)="addPlayer()"
          >
          Добавить игрока
      </button>
    </p-->
  <p>
        <button *ngIf="!inputForm.invalid"
            tuiButton
            type="button"
            class="tui-space_right-3 tui-space_bottom-3"
            (click)="createTournament()"
            >
            Создать
        </button>
        <button *ngIf="inputForm.invalid"
            tuiButton
            type="button"
            class="tui-space_right-3 tui-space_bottom-3"
            [disabled]="true"
            >
            Создать
        </button>
    <button
        tuiButton
        type="button"
        class="tui-space_right-3 tui-space_bottom-3"
        routerLink="/home"
        >
        Отмена
    </button>
  </p>
</div>