<div class="startPage">
    <h3>Популярные турниры:</h3>
    <table
        tuiTable
        class="table"
        [columns]="columns"
    >
        <thead>
            <tr tuiThGroup>
                <th
                    tuiTh
                    [resizable]="true"
                >
                    Название
                </th>
                <th 
                    tuiTh 
                    [resizable]="true"
                >
                    Описание
                </th>
                <th 
                    tuiTh 
                    [resizable]="true"
                >
                    Начало
                </th>
            </tr>
        </thead>
        <tbody
            tuiTbody
            [data]="tournaments"
        >
            <tr
                *ngFor="let tournament of tournaments"
                tuiTr
            >
                <td
                    *tuiCell="'name'"
                    tuiTd
                >
                    <!-- потом сменить routerLink на страницу тунира по id-->
                    <a
                        routerLink="/create"
                        tuiLink
                    >
                        {{ tournament.name }}
                    </a>
                </td>
                <td
                    *tuiCell="'description'"
                    tuiTd
                >
                    {{ tournament.description }}
                </td>
                <td
                    *tuiCell="'dateTime'"
                    tuiTd
                >
                    {{ tournament.dateTime }}
                </td>
                <td
                    *tuiCell="'actions'"
                    tuiTd
                >
                </td>
            </tr>
        </tbody>
    </table>

    <p>
        <button
            tuiButton
            type="button"
            class="tui-space_right-3 tui-space_bottom-3"    
            routerLink="/create"
        >
        Создать свой турнир
        </button>
    </p>
</div>