<div class="viewTournamentBlock">
    <h1>
        {{ tournamentInfo.name }}
    </h1>
    <h3>
        {{ tournamentInfo.description }}
    </h3>
    <h3>
        Начало: {{ tournamentInfo.dateTime }}
    </h3>
    <tui-accordion class="container">
        <tui-accordion-item>
          Участники
          <ng-template tuiAccordionItemContent>

            <ol *ngIf="tournamentInfo.participants">
                <li
                    *ngFor="let participant of tournamentInfo.participants; let i = index"
                >
                    {{i + 1}}. {{participant}}
                </li>
            </ol>
            <div *ngIf="!tournamentInfo.participants">
                В турнире пока нет участников. Станьте первым!
            </div>
          </ng-template>
        </tui-accordion-item>
        <tui-accordion-item>
          Турнирная сетка
          <ng-template tuiAccordionItemContent>
            <div #content
                class="tournament-grid"
                *ngFor="let participant of createRange(16); let i = index"
            >
                <div
                    *ngFor="let item of createRange(4); index as j"
                >
                    <div class="participant" *ngIf="j+1 == treeList[i]; else elseBlock"> {{ participants[0] }} </div>
                    <ng-template #elseBlock> </ng-template>
                </div>
            </div>
            <p>
                <button
                    tuiButton
                    type="button"
                    icon="tuiIconEdit3"
                    class="tui-space_right-3 tui-space_bottom-3"
                    >
                    Редактировать
                </button>
            </p>
          </ng-template>
        </tui-accordion-item>
    </tui-accordion>

    <h3>
        Добавить участника:
    </h3>
    <form class="b-form" [formGroup]="inputForm">
        <tui-input formControlName="newParticipant"
    >
        Имя
    </tui-input>
    </form>
    <p>
        <button
            *ngIf="this.inputForm.controls['newParticipant'].value != ''"
            tuiButton
            type="button"
            icon="tuiIconPlus"
            class="tui-space_right-3 tui-space_bottom-3"
            (click)="addParticipant()"
            >
            Добавить
        </button>
    </p>
    <p>
        <button
            tuiButton
            type="button"
            class="tui-space_right-3 tui-space_bottom-3"
            icon="tuiIconArrowLeft"
            routerLink="/home"
            >
            К списку турниров
        </button>
    </p>
</div>